/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face { 	font-family: "Underground"; 	src: url('../../street-connect/src/assets/P22UndergroundPro-Light.ttf'); }
@font-face { 	font-family: "Underground_bold"; 	src: url('../../street-connect/src/assets/P22UndergroundPro-Bold.ttf'); }


.lien {
    color: white;
    text-decoration: none;
    font-family: "Underground"; 
    font-size: 20px;
}

.lien:hover {
    color: white;
    text-decoration: none;
}

.lien-thematique {
    color: black;
    text-decoration: none;
    font-family: "Underground_bold"; 
    font-size: 20px;
}

.lien-thematique:hover {
    color: black;
    text-decoration: underline;
    font-family: "Underground_bold"; 
    font-size: 20px;
}

.violet {
    color: #65099a;
}

.text {
    font-family: "Underground";
}
