<div class="sujet">
    <mat-card class="card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
           <span  style="font-size: 25px; color: #56896f; font-family: GetVoIP Grotesque;">
            <a class="lien-thematique" (click)="changePage()">{{titre}}</a>
            </span>
           <hr>
           <p class="text" style="margin-top: 10px;">
            {{text}}</p>
           <hr>
           <span class="auteur" >{{auteur}}</span>
        </mat-card-content>
    </mat-card>
</div>
